<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Page</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style3.css')}}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<header>
  
   
    <h1>SMART ATTENDANCE SYSTEM</h1>
    
  
</header>

<div class="about">
 
  <h2>About Us</h2>

<p>Welcome to the Smart Attendance System! We’re here to make attendance management simple, accurate, and stress‑free. Our platform replaces traditional roll‑call methods with a smart digital solution that helps institutions and organizations keep track of attendance effortlessly.</p>

<p>Our goal is to save time, cut down on manual work, and reduce errors in recording. By automating the process, we keep attendance data organized, transparent, and easy to access whenever it’s needed.</p>

<p>With features like real‑time tracking, instant updates, secure data storage, and quick report generation, our system offers a smooth experience for students, teachers, employees, and administrators alike. We’re committed to building a smarter, faster, and more reliable way to manage attendance for everyone.</p>

</div>


