<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Log In</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="login">
  <header>
    <h1>SMART ATTENDANCE SYSTEM</h1>
    <p class="ehc">Register Portal For College Students</p>
  </header>

  <form method="POST" action="/adminlogin">
    <div class="login-details">
      <h2>Admin Login</h2><br>
      
      <label for="Name"><b>Institute Name</b></label>
      <input type="text" id="Name" name="Name" placeholder="Enter Institute Name (as per NIRF portal)" required>
      
      
      <!-- Unique ID field always visible -->
      <label for="password"><b> Password </b></label>
      <input type="password" name="password"  placeholder="Enter Password">

      <!-- Single line option -->
      <p class="register-link">
      <a href="{{url_for('adminregister')}}"> Don't have an ID ? Register </a>
      </p>

      <p id="status"></p>
      <button class="calculate">Login</button>
    </div>
  </form>


</body>
</html>
