<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('style4.css')}}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
    <h1>SMART ATTENDANCE SYSTEM</h1>
    
</header>
      <form method="GET" action="{{ url_for('admindash') }}">
        <div class="Stream">
        <p> Filter by:</p>
  <label for="Stream"> Stream</label>
  <select class="Stream"name="Stream" id="Stream">
    <option value="All">All</option>
    <option value="CSE">CSE</option>
    <option value="ECE">ECE</option>
    <option value="ME">ME</option>
    <option value="MNC">MNC</option>
    <option value="EE">EE</option>
    <option value="ME">ME</option>
    <option value="CE">CE</option>
    <option value="CHE">CHE</option>
    <option value="AE">AE</option>
    <option value="MME">MME</option>
    <option value="MIN">MIN</option>
    <option value="BIO">BIO</option>
    <option value="PIE">PIE</option>
    <option value="IT">IT</option>
    <option value="INST">INST</option>
    <option value="ARCH">ARCH</option>
    <option value="MATH">MATH</option>
    <option value="PHY">PHY</option>
    <option value="CHEM">CHEM</option>
  </select>
  </div>
  <div class="Section">
  <label for="Section">Section:</label>
<select name="Section" id="Section" class="Section">
    <option value="All">All</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
</select>
</div>
      <button class="board">
       <a href="{{url_for('dashboard')}}"> View Attendance Analytics </a>
    </button>
      </form>
   
<table>
    <tr>
        
        <th class="roll"> Roll No. </th>
        <th class="dept"> Department </th>
        <th class="name"> Student Name  </th>
        <th class="status">  Attendance (%) </th>

    </tr>
    <tr>
        {% for student in records %}
        <td>{{student.Roll}}</td>
        <td> {{student.Stream}}</td>
        <td> {{student.Name}}</td>
        <td>{{student.percentage}}</td>
        {% end for %}
    </tr>
</table>
