<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Return Page</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style3.css')}}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<header>
    <h1>SMART ATTENDANCE SYSTEM</h1>
    
  </header>
  
 <div class="return">
    <h2> Login to access this feature </h2>
    
     <button class="btn3"> <a href="{{ url_for('student') }}"> Back to Home </a></button>
 </div>
